@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 70% 98%;
    --foreground: 30 13% 10%;
    --card: 0 0% 100%;
    --card-foreground: 30 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 30 10% 3.9%;
    --primary: 30 100% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 30 4.8% 95.9%;
    --secondary-foreground: 30 5.9% 10%;
    --muted: 30 20% 90%;
    --muted-foreground: 30 3.8% 46.1%;
    --accent: 30 4.8% 95.9%;
    --accent-foreground: 30 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 5.9% 90%;
    --input: 30 5.9% 90%;
    --ring: 30 5.9% 10%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer utilities {
  .text-outline {
    @apply text-white;
    text-shadow:
      -1px -1px 0 #fff,
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
      1px 1px 0 #fff;
  }

  @supports ((-webkit-text-stroke: 2px black) or (text-stroke: 2px black)) {
    .text-outline {
      @apply text-transparent;
      -webkit-text-stroke: 2px white;
      text-stroke: 2px white;
      text-shadow: none;
    }
  }
}

html {
  font-size: 16px;
}

*::selection {
  background-color: hsl(var(--primary));
  color: hsl(var(--foreground));
}
